* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3F2ED;
}

body {
    
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}